<h1>Thanks for booking with us!</h1>
<div>
	<p>Dear <%= @passenger.name %>, <br> this email was sent to inform you that your flight has been booked successfully. Your booking information is below.
	</p>
	<p>
		Booking number: <%= @passenger.booking.id %><br>
		Flight number: <%= @passenger.booking.flight.id %> <br>
		Departing: <%= @passenger.booking.flight.departure.name %> <br>
		Arriving: <%= @passenger.booking.flight.arrival.name %>
	</p>
	<p>
		To view your booking online, follow this link: <%= link_to "Your booking", booking_url(@passenger.booking.id) %>
	</p>
</div>