<h1>Find your flight!</h1>

<div>
	<%= form_with scope: :search, url: flights_path, method: :get, local:true do |f| %>
		<%= f.label :from %>
		<%= f.select(:start, @airports, selected: (params[:search][:start] if params[:search])) %>

		<%= f.label :to %>
		<%= f.select(:end, @airports, selected: (params[:search][:end] if params[:search])) %>

		<%= f.label :passengers %>
		<%= f.select(:passengers, [1, 2, 3, 4], selected: (params[:search][:passengers] if params[:search])) %>

		<%= f.label :date %>
		<%= f.select(:date, @dates, selected: (params[:search][:date] if params[:search])) %>

		<%= f.submit 'Search' %>
	<% end %>
</div>

<div>
	<% if @flights.nil? %>
		<p>Search for a flight!</p>
	<% else %>
		<% if @flights.any? %>
			<%= form_with url: new_booking_path, method: :get, local: true do |f| %>
				<% @flights.each do |flight| %>
					<li><%= flight.id %>, <%= flight.departure.name %>, <%= flight.arrival.name %>, <%= flight.duration.to_i/3600 %> hours <%= radio_button_tag :flight, flight.id %> </li>
				<% end %>
				<%= hidden_field_tag :passengers, params[:search][:passengers] if params[:search] %>
				<%= f.submit 'Choose' %>
			<% end %>
		<% else %>
			<p>There are no flights for the selected airports</p>
		<% end %>
	<% end %>
</div>