<div>
	<h1>Enter passenger information</h1>
	<p>Flight information:</p>
	<p>Flight number: <%= @flight.id %> Date: <%= @flight.date %> </p>
	<p>Departing: <%= @flight.departure.name %></p>
	<p>Arriving: <%= @flight.arrival.name %></p>
	<div>
		<%= form_with model: @booking, url: bookings_path, method: :post, local:true do |f| %>
		<ul>
			<%= f.fields_for :passengers do |form| %>
				<li>
					<%= form.label :passenger %><br>
					<%= form.label :name %>
					<%= form.text_field :name %>

					<%= form.label :email %>
					<%= form.email_field :email %>
				</li>
				<br>
				<% end %>
		</ul>
			<%= f.hidden_field :flight_id, value: @flight.id %>
			<%= f.submit 'Create booking' %>
		<% end %>
	</div>
</div>

