<div>
	<h1>Your booking</h1>
	<div>
		<p>Booking number: <%= @booking.id %></p>
		<h3>Flight information</h3>
		<p>Flight number: <%= @booking.flight.id %></p>
		<p>Departing: <%= @booking.flight.departure.name %> at <%= @booking.flight.date.strftime("%a, %D, %r") %> </p>
		<p>Arriving: <%= @booking.flight.arrival.name %> at <%= (@booking.flight.date + @booking.flight.duration).strftime("%a, %D, %r") %></p>
		<h3>Passenger information</h3>
		<ul>
			<% @booking.passengers.each do |p| %>
				<li><%= p.name %> </li><br>
			<% end %>
		</ul>
	</div>
</div>
